@import "colors";
@import "reset";
@import 'buttons';

body {   
    header {
        position: absolute;
        width: 100%;
        // background-image: url(../img/header-logo.jpg);
        // min-height: 100vh;
        background: linear-gradient(to bottom, #00000090, transparent);
        // background-color: transparent;
        background-blend-mode: color-burn;
        // background-position: center;
        // background-attachment: fixed;
        .col-8 {
            a {
                font-weight: 700;
                letter-spacing: 2px;
                font-size: 14px;
            }

            .nav-btn {
                a {
                    color: white;
                }
                .user {
                    &__text {
                        transition: opacity 0.7s;
                    }
                }

                &:hover {
                    a {
                        color: $myGold;
                    }
                    .user {
                        &__text {
                            opacity: 0.5;
                        }
                    }
                }
            }
            .active,
            .user {
                a {
                    color: $myGold;
                }
            }
            .user {
                a {
                    font-size: 16px;
                    i {
                        color: $myGold;
                        font-size: 30px;
                    }
                }
            }
        }
        .logo {
            display: flex;
            flex-direction: column;

            &__font {
                color: white;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 2px;
                line-height: 1.2;

                i {
                    color: $myGold;
                }
            }
        }
    }
    section#home {
        background-image: url(../img/header-logo.jpg);
        min-height: 100vh;
        background-color: #000000b5;
        background-blend-mode: color-burn;
        background-position: center;
        
        background-size: cover;
        // background-attachment: ;
        background-repeat: no-repeat;
        vertical-align: baseline;
        display: flex;
        align-items: center;

        .slogan-container {
            margin: 100px 0;
            .slogan {
                &__script {
                    color: white;
                    font-size: 125px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    font-weight: 900;
                    line-height: 1;
                }
            }
            .sub-slogan {
                &__script {
                    color: $myGold;
                    font-size: 50px;
                    letter-spacing: 2px;
                }
            }
           
            .btn-group {
                @extend %btn-group;
            }
        }
    }
    section#about {        
       
        background-color: $bg-about;
        min-height: 100vh;

        .my-card {            
            &__header {
                border-bottom: 1px solid $bg-line;                
                position: relative;
                padding: 10px 0;
                margin: 20px 0;

                &::after {
                    content: "";
                    height: 10px;
                    width: 60%;
                    background-color: $bg-line;
                    position: absolute;
                    bottom: 0;
                }
            }
            &__body{
                p{
// color: $bg-line/;
                }
            }
        }

     .col-8{
           background-image: url(../img/3.jpg);
        min-height: 100vh;
        background-color: #000000b5;
        background-blend-mode: color-burn;        
        background-attachment: fixed;
        background-repeat: no-repeat;
      background-position: center;
       background-size: cover;
     }
    }
    section#team{
        background-color:  $bg-dark;
        padding: 50px 0;

        .card{
            .card-body{
                p{
                    padding: 0 7rem;
                }
            }
            .card-footer{
                .btn-group{
                    @extend %btn-group;
                    // margin: 0;
                        }
            }
            
        }

        .heading{
            @extend %heading;            
         }
        
    }    
    section#clients{
        background-color:  $bg-dark;
        padding: 50px 0;

        li{
           display: flex;
           justify-content: center;
           align-items: center;
        }

        .heading{
           @extend %heading;
        }
    }
section#services{
    background-color: $bg-services;
    padding: 50px 0;

    .heading{
        @extend %heading;

        a.btn{
            background-color: $myGold;
            color: $bg-dark;
            padding: 1rem 2rem;
            font-weight: 700;
            transition: background-color .2s linear;

            &:hover{
                background-color: transparent;
                color: white;
            }
        }
    }

    .card{

        &-header{
           
           position: relative;

            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                transition: background-color .2s linear;

               
            }

            &:hover{
                
                &::after{
                    background-color: #00000030;
           background-blend-mode: color-burn;
                }
            }
           
            
        }
        &-body{
            border-bottom: 1px solid $bg-line;
            a{
            font-size: 14px;
            transition: opacity .2s linear;
            letter-spacing: 2px;
            text-transform: uppercase;

            &:hover{
                opacity: .5;
            }
            }
        }
        &-footer{
            a{
                background-color: $myGold;
            color: $bg-dark;
            padding: 0.5rem 1rem;
            font-weight: 700;
            transition: opacity .2s linear;
            letter-spacing: 2px;
            text-transform: uppercase;
            

            &:hover{
                opacity: .7;
            }
            }
        }
    }
}
}

